nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
  a.navbar-brand(href="#") Boilerplate
  .collapse.navbar-collapse
    .navbar-nav
      a.nav-item.nav-link(href="/feed/trending") Trending
      a.nav-item.nav-link(href="/feed/created") New
    .navbar-nav.ml-auto
      a.nav-item.nav-link.btn.btn-outline-secondary(href="/post") Create Post
      a.nav-item.nav-link(href="/dashboard") Profile
      a.nav-item.nav-link(href="/auth/logout") Logout
