extends layout

block content
  include partials/nav

  aside.trending__tags
  main.feed(data-feed-type=`${feed}` data-username=`${username}` data-tag=`${tag}`)
    .container
      .row: h2= feed + ' - ' + tag
    .container
      .row.feed-insert

  script(src='/js/showdown.min.js')
