extends layout

block content
  include partials/nav

  main
    .jumbotron
      h1 SteemConnect Node.js Boilerplate
      p This project aims to kick-start your STEEM based project.
      a.btn.btn-dark(href="/feed/trending") View Trending
      a.btn.btn-primary(href="/auth") Login With SteemConnect
