.feed,
.profile-feed,
.trending__tags,
.balances,
.create-post,
.single {
  padding: 30px 0;
  max-width: 520px;
  margin: 0 auto;
}

.wallet {
  padding: 50px;
  background: #f3f3f3;
}
.trending__tags a {
  margin: 5px;
}

.table-cell-break {
  word-break:break-all;
}


.tags {
  margin: 10px 0;
}
.tags span {
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px 0 0;
}

img {
  max-width: 100%;
}
.item {
  border: solid 1px #e1e0e0;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 0 13px rgba(0,0,0,0.05);
}
.item__image {
  min-width: 100%;
}
.item__meta {
  padding: 15px;
}
.comment {
  margin: 15px 0;
}
.comment-level-1 {
  padding-left: 15px;
}
.comment-level-2 {
  padding-left: 30px;
}
.comment-level-3 {
  padding-left: 45px;
}

.meta form {
  display: inline-block;
}

input, label, textarea, button {
  margin: 15px 0;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
}

input, textarea {
  border: solid 1px #7b7b7b;
}

input:focus, textarea:focus {
  outline: 0;
}

textarea {
  min-height: 400px;
}

button, input[type="submit"] {
  cursor: pointer;
}

.vote {
  width: 100px;
}

.comment-message {
  margin-top: 20px;
}
.send-comment {
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
  padding: 10px;
  border: solid 1px #7b7b7b;
  margin: 20px 0 40px;
}

.profile__subnav {
}
.profile__subnav a {
  margin: 10px;
}
.profile__header {
  /*height: 150px;*/
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 15px;
}
.profile__header img {
  border-radius: 50%;
  margin: 10px;
  width: 80px;
  height: 80px;
}

.btn.load-more-posts {
  display: block;
}
